extends ./layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen-nosotros" class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci diam, efficitur nec dapibus eget, dignissim et nisl. Proin pretium auctor dolor, eget scelerisque lorem tempor porta. Vivamus ultrices accumsan lectus, ac blandit metus. Vivamus placerat elit non diam dictum, sed placerat quam placerat.

                p Curabitur molestie elit lobortis purus ultrices rhoncus. Donec viverra blandit odio et consectetur. Nulla nec auctor lorem, nec iaculis massa. Phasellus dictum eros a mollis molestie. Nunc ut rhoncus nisi. Curabitur non neque ex. Ut sit amet diam sagittis, blandit libero et, cursus justo. Sed sagittis arcu sed ante lacinia mattis. 

                p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas in iaculis risus. Fusce placerat sagittis leo eu malesuada. Fusce vulputate odio diam, vehicula suscipit ligula vulputate sed. Integer viverra est at elit consectetur laoreet. 
    .listado-iconos 
        .container.py-5.my-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb4 Seguridad 
                    p Maecenas in iaculis risus. Fusce placerat sagittis leo eu malesuada. Fusce vulputate odio diam, vehicula suscipit ligula vulputate sed. Integer viverra est at elit consectetur laoreet. 
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb4 Mejores destinos 
                    p Maecenas in iaculis risus. Fusce placerat sagittis leo eu malesuada. Fusce vulputate odio diam, vehicula suscipit ligula vulputate sed. Integer viverra est at elit consectetur laoreet. 
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb4 Los mejores precios 
                    p Maecenas in iaculis risus. Fusce placerat sagittis leo eu malesuada. Fusce vulputate odio diam, vehicula suscipit ligula vulputate sed. Integer viverra est at elit consectetur laoreet. 

